
useDynLib (btglm)

import (coda)
import (foreach)
import (glmnet)
import (iterators)
import (RcppEigen)
importFrom (Rcpp, sourceCpp)

## exportPattern("ˆ[[:alpha:]]+")
export ("approx.minima",
        "BIC.btglm",
        "btlm", "btlmPostMode", "btglmControl",
        "btglm", "btglmPostMode",
        "close.match", "coef.btglm", "cv.btlm",
        "logLik.btglm",
        "mse",
        "nobs.btglm",
        "plot.cv.btglm", "pnz", "pnz.btglm",
        "residuals.btglm",
        "select.lambda.bic", "sigma.btglm"
        )

## export ()
## export ()
## exportClasses ()
## exportMethods ()
